<!DOCTYPE html>
   <head>
      <title><%= title %></title>
   </head>

   <style type="text/css">
     img{
      width: 100%;
     }

     h2{
      padding: 0 596px;
     }

     form{
      margin-left: 561px;
     }

   </style>

   <body>
      <div class = "header">
            
      <img src="http://www.indian-railway-pnr-status.co.in/images/banner1.png">
      </div>

      <h2>404</h2>

   </body>
</html>