<!DOCTYPE html>
   <head>
      <title><%= title %></title>
   </head>

   <style type="text/css">
     img{
      width: 100%;
     }

     h2{
      padding: 0 596px;
     }

     form{
      margin-left: 561px;
     }

   </style>

   <body>
      <div class = "header">
            
      <img src="http://www.indian-railway-pnr-status.co.in/images/banner1.png">
      </div>

      <h2>Register Form</h2>
         
      <form method="post" action="/signup">
         <% if(typeof(errorMessage) !== 'undefined') {%>
         <span><%= errorMessage %></span>
         <% } %>

         <p>
            <label for="fname">First Name</label>
            <input type="text" name="fname" id="fname"
               placeholder="First Name" required="true"/>
         </p>

         <p>
            <label for="lname">Last Name</label>
            <input type="text" name="lname" id="lname"
               placeholder="Last Name" required="true"/>
         </p>

         <p>
            <label for="username">Username</label>
            <input type="text" name="username" id="username"
               placeholder="username" required="true"/>
         </p>

         <p>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"
               placeholder="password" required="true"/>
         </p>

         <p>
            Designation:
            <input type="radio" name="designation" value="engineer"/> Engineer
            <input type="radio" name="designation" value="senior engineer"/> Senior Engineer
            <input type="radio" name="designation" value="Manager"/> Manager
         </p>

         <p>
            <input type="submit" name="signup" id="signup" value="Register"/>
            <a href="/signin" title="sign in">Sign In</a>
         </p>
      </form>
   </body>
</html>